body{
    width: 100%;
    text-align: center;
}

#row1, #row2, #row3, #row4 , #row0{
    display: flex;
    justify-content: center;
}

#row0{
    padding-top: 1rem;
}

.operator, .number,.clear,.backSpace {
    border:none;
    text-align: center; 
    width: 2.7rem;
    height: 2.7rem;
    font-size: 1.2em; 
    cursor: pointer; 
    border-radius: 10px;
    margin: 0.1rem;
}

.operator, .backSpace, .clear{
    color:  rgb(236, 12, 12);
}

button{
    background-color: rgb(80, 85, 231,0.5);
}

button:active{
    transform: translateY(2px);
}

.backSpace{
    width: 5.4rem;
}

.calc{
    margin: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 14rem;
    height: 23rem;
    border-radius: 20px;
    background-color: silver;
}

.display{
    background-color: white;
    padding-right: 5px;
    margin: 0 auto;
    width: 172px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}